.winning-piece {
  animation: highlight 1s infinite alternate;
  position: relative;
  z-index: 10;
  box-shadow:
    0 0 25px rgba(255, 255, 0, 0.553),
    0 0 10px rgba(255, 255, 255, 0.5),
    inset 0 0 10px rgba(255, 255, 0, 0.5); /* thêm ánh sáng từ trong */
}

/* Hiệu ứng pulsate kết hợp màu và ánh sáng */
@keyframes highlight {
  0% {
    transform: scale(1);
    filter: brightness(1) saturate(1.2);
  }
  50% {
    transform: scale(1.05);
    filter: brightness(1.4) saturate(2);
  }
  80% {
    transform: scale(1);
    filter: brightness(1) saturate(1.2);
  }
}


.winning-piece::after {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 50%;
  background-color: rgba(255, 255, 0, 0.3);
  box-shadow: 0 0 15px rgba(255, 255, 0, 0.558);
  animation: pulse 1s infinite alternate;
  pointer-events: none;
}

@keyframes pulse {
  from { transform: scale(1); opacity: 0.5; }
  to   { transform: scale(1.1); opacity: 1; }
}
