.winning-cell {
    animation: flash 1s infinite alternate;
  }
  
  @keyframes flash {
    from {
      background-color: rgb(16, 16, 16);
    }
    to {
      background-color: rgb(0, 0, 0);
    }
  }